<head>
  <link rel="stylesheet" href="/static/css/chessboard-1.0.0.css">
  <script src="static/js/jquery-3.4.1.min.js"></script>
  <script src="static/js/chessboard-1.0.0.js"></script>
  <script src="static/js/chess.js"></script>
</head>
<body>
  <h1>Welcome to Chap!</h1>
  <p>Chess made simple</p>
  <div id="myBoard" style="width: 400px"></div>
  <label>Status:</label>
  <div id="status"></div>
  <label>FEN:</label>
  <div id="fen"></div>
  <label>PGN:</label>
  <div id="pgn"></div>
  <script src="/static/js/game.js"></script>
  <button type="button" id="myButton">New Game</button>
  <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/queue";
    };
  </script>
  <script>
    var config = {
      draggable: true,
      position: 'start',
      onDragStart: onDragStart,
      onDrop: onDrop,
      onSnapEnd: onSnapEnd
    }
    board = Chessboard('myBoard', config)
    board.orientation({{.}})
    updateStatus()
</script>
</body>
<script type="text/javascript" src="/static/js/websocket.js"></script>
<script>
  var stem = window.location.href.split('/')[3]
  host = window.location.hostname
  id = stem.substring(8)
  addInitListener("start",stem)
  const gamesock = new WebSocket('wss://'+host+'/gamesock?id='+id+'&color='+{{.}})
  gamesock.addEventListener('message', function (event) {
    var msg = JSON.parse(event.data)
    var fen = msg['fen']
    delete msg['fen']
    game.move(msg)
    board.position(fen,true)
    updateStatus()
  });

</script>
