<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Waiting for Players</h1>
    <script src="/static/js/websocket.js"></script>
    <script>
      socket.addEventListener('message', function (event) {
        var msg = JSON.parse(event.data)
          if(msg.flag == 'start') {
            //Redirect the person in queue to a game with current player param
            parser = new URL(window.location.href)
            location.href = msg.url + "&player="+parser.searchParams.get("player")
          }
      });
    </script>
  </body>
</html>
