  <head>
  <link rel="stylesheet" type="text/css" href="/static/css/chessboard-1.0.0.css">
  </head>
  <body>
    <h1>Waiting for Players</h1>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/3Djs/three.min.js"></script>
    <script src="/static/js/3Djs/OBJLoader.js"></script>
    <script src="/static/js/3Djs/OrbitControls.js"></script>
    <script src="/static/js/3Djs/modelLoad.js" type="text/javascript"></script>
    <script>
      //Get player name from url and use in socket listener to redirect to game
      addQueueListener()
    </script>
  </body>
